{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include 'includes/sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                   
                    <div class="card-body">
                        <img src="{{ user_profile.profile_picture.url }}" width="100" height="100" style="border-radius:50%">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label> First Name</label> 
                                        {{ user_form.first_name }}
                                        
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label> Last Name</label> 
                                        {{ user_form.last_name }}
                                        
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label> Profile Picture</label> 
                                        {{ user_profile_form.profile_picture }}
                                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label> Address line1</label> 
                                        {{ user_profile_form.address_line_1 }}
                                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label> Address line2</label> 
                                        {{ user_profile_form.address_line_2 }}
                                        
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label> City</label> 
                                        {{ user_profile_form.city }}
                                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label> State </label> 
                                        {{ user_profile_form.state }}
                                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label> Country </label> 
                                        {{ user_profile_form.country }}
                                        
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>

{% endblock %}